body{
    background-image: linear-gradient(#35bbe0, #6078ea);
}
h1{
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
label{
    color: white;
    font-size: 24px;
}
input[type=text]{
    height: 8vh;
    min-width: 50vh;
    font-size: 24px;
    color: #202174;
    border-radius: 10px;
    background: white;
    border: 0.5px solid #6078ea;
    box-sizing: border-box;
}
input[type=submit]{
    padding: 4px 11px;
    background: white;
    border-radius: 60px;
    color: #202174;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    border: none;
}
form{
    font-family: sans-serif;
}

.center{        /*modified from https://www.w3schools.com/howto/howto_css_image_center.asp */                       
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
    }
html{
    height: 100%;
}