#submit2 {
    margin-left: 15px;
    margin-bottom: 6px;
    padding: 6px 14px;
    background: #f6f8f9;
    border-radius: 20px;
    color: #202174;
    height: 32px;
    font-size: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    border: none;
}
input[type=submit]{
    padding: 4px 11px;
    margin-left: 10px;
    background: #ccebff;
    border-radius: 60px;
    color: #202174;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    /* font-style: bold; */
    /* font-weight: bold; */
    border: none;
}
body{
    background-image: linear-gradient(#35bbe0, #6078ea);
}
#fileaction{
    padding: 6px 13px;
    margin: 10px 5px 0 0;
    background: #ffffff;
    border-radius: 60px;
    height: 28px;
    font-size: 16px;
    text-align: center;
    border: none;
}
p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
h1{
    color: white;
    font-size: 60px;
    margin-left: 15px;
}
html {
    height: 100%;
}