input[type=submit]{
    padding: 4px 11px;
    margin-left: 10px;
    background: #ccebff;
    border-radius: 60px;
    color: #202174;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    /* font-style: bold; */
    /* font-weight: bold; */
    border: none;
}
input[type=hidden]{
    padding: 4px 11px;
    margin-left: 10px;
    background: #ccebff;
    border-radius: 60px;
    color: #202174;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    border: none;
}
h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-image: linear-gradient(#35bbe0, #6078ea);
}